<div class="row">
    <div class="col-6">
        <div class="card">
               <app-dona [title]="'Ventas'"
               [label]= "Labels"
               [data]= "Data"
               ></app-dona>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <app-dona [title]="'Compras'"
                      [label]= "Labels"
                      [data]= "Data"
            ></app-dona>
        </div>
    </div>
</div> 

<div class="row">
    <div class="col-6">
        <div class="card">
            <app-dona></app-dona>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <app-dona></app-dona>  
        </div>
    </div>

</div> 